
body
{
  overflow: auto;
}

/*Sets the basic style for the weather information*/
.main-page {
  width: 100%;
  height: 100vh;
  font-family: 'The Girl Next Door';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  display: flex;
  direction: column;
  align-items: center;
  overflow: auto;
}
/*Styling and layout for the div containing weather information inside the main section*/
.weather-box {
  width: 80%;
  border-style: solid;
  border-color: 'black';
  border-width: 10px;
  border-radius: 22%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: 20px;
  /*margin-top:2%;
  margin-bottom:2%;*/

 }

h2, h3, h4 {
  font-weight: bold;
}
h2 {
  font-size: 25px;
}
h3{
  font-size: 21px;
}
h4{
  font-size: 19px;
}
.today {
  text-align: center;
  margin: 0;
}
/*Sets the styling and animation for the weather graphic*/
.weather-icon {
  width: 70%;
  position: relative;
  /*bottom: 20px;*/
  animation-name: pulsate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*Causes the weather graphic to shrink and grow to give it a pulsating animation*/
@keyframes pulsate {
  50% {
    transform: scale(0.92);
  }
}
/*styling and positioning of weather information following the weather graphic*/
.weather-content {
  position: relative;
  /*bottom: 20px;*/
  width: 100%;
  text-align: center;
}
/*class used in js to toggle between units*/
.absent {
  display: none;
}
.weather-content p {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
.weather-content button {
  text-align: center;
  padding: 0 8px;
  height: 20px;
  font-size: 14px;
  margin-left: 2px;
  border-width: 2px !important;
  font-weight: bold;
}
.degree {
  font-family: "Arial";
  font-size: 12px;
}

@media only screen and (min-width:375px) {

  .main-page {
    font-size: 15px;
  }

  .weather-content button {
    font-size: 15px;
  }


}

@media only screen and (min-width:430px) {

    .weather-icon {
      width: 45%;
    }

    .main-page {
      font-size: 18px;
    }

  .weather-content button {
    font-size: 18px;
    height: 24px;
  }

}

@media only screen and (min-width:770px) {

  h2 {
  font-size: 30px;
  }
  h3{
    font-size: 26px;
  }
  h4{
    font-size: 24px;
  }

  .weather-box {
    width: 50%;
  }
  .weather-icon {
      width: 35%;
    }

    .main-page {
      font-size: 22px;
    }

  .weather-content button {
    font-size: 22px;
    height: 28px;
  }
  .degree {
    font-family: "Arial";
    font-size: 18px;
  }
}

