/*Initializes responsive variables*/
:root {
  --page-font: 1.4em;
  --button-font: 1em;
  --degree-font: 0.8em;
  --button-height: 1.3em;
  --box-width: 40%;
  --h2-font: 1.6em;
  --h3-font: 1.5em;
  --h4-font: 1.4em;
  --icon-size: 30%;
}
@media (max-width: 1100px) {
  :root 
  {
  --icon-size: 35%;
  --box-width: 50%;
  }
}
@media (max-width: 800px) {
  :root {
  --page-font: 1.2em;
  --button-font: 1.1em;
  --degree-font: 1.1em;
  --button-height: 1.8em;
  --box-width: 60%;
  --h2-font: 2em;
  --h3-font: 1.6em;
  --h4-font: 1.4em;
  --icon-size: 50%;
  }
}
/*Determines element sizing for screens less than 400px*/
@media (max-width: 500px) {
  :root {
    --page-font: 16px;
    --button-font: 15px;
    --degree-font: 12px;
    --button-height: 20px;
    --box-width: 80%;
    --h2-font: 25px;
    --h3-font: 21px;
    --h4-font: 19px;
    --icon-size: 70%;
  }
}
body
{
  overflow: hidden;
}

/*Sets the basic style for the weather information*/
.main-page {
  width: 100%;
  font-family: 'The Girl Next Door';
  font-weight: bold;
  font-size: var(--page-font);
  letter-spacing: 1.5px;
  display: flex;
  direction: column;
  align-items: center;
  padding: 10px;
}
/*Styling and layout for the div containing weather information inside the main section*/
.weather-box {
  width: var(--box-width);
  border-style: solid;
  border-color: 'black';
  border-width: 10px;
  border-radius: 22%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: 20px;
  margin-top:1%;
  margin-bottom:2%;
 }

h2, h3, h4 {
  font-weight: bold;
}
h2 {
  font-size: var(--h2-font);
}
h3{
  font-size: var(--h3-font);
}
h4{
  font-size: var(--h4-font);
}
.today {
  text-align: center;
  margin: 0;
}
/*Sets the styling and animation for the weather graphic*/
.weather-icon {
  width: var(--icon-size);
  position: relative;
  bottom: 20px;
  animation-name: pulsate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*Causes the weather graphic to shrink and grow to give it a pulsating animation*/
@keyframes pulsate {
  50% {
    transform: scale(0.94);
  }
}
/*styling and positioning of weather information following the weather graphic*/
.weather-content {
  position: relative;
  bottom: 20px;
  width: 100%;
  /*height: 100%;*/
  text-align: center;
}
/*class used in js to toggle between units*/
.absent {
  display: none;
}
.weather-content p {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
.weather-content button {
  text-align: center;
  padding: 0 8px;
  height: var(--button-height);
  font-size: var(--button-font);
  margin-left: 2px;
  border-width: 2px !important;
  font-weight: bold;
}
.degree {
  font-family: "Arial";
  font-size: var(--degree-font);
}
